@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter' !important;
    background: #121212;
}

.letter-text {
    font-family: 'Inter';
}

::-webkit-scrollbar {
    background: transparent;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 4px;
}

